http://courses.washington.edu/b517/Datasets/datasets.html


Graph

Extensions of Support Vector Machines


Load Libraries
Load Data
Curate Data
Implement SVM
Graph SVM

In [1]:
##-------------------------------------
## 1) Load Libraries
##-------------------------------------
import numpy as np                       ## Array Manipulation
import pandas as pd                      ## Data Frame Manipulation
import os                                ## Change Directory in Python

In [58]:
##-------------------------------------
## 2) Load Data
##-------------------------------------
default_path = 'C:/Users/james/OneDrive/Documents/Important_Files/Favorite_5_ML algorithms'
os.chdir(default_path)
king = pd.read_csv('king.csv', index_col='id')

In [59]:
##-------------------------------------
## Curate Data
##-------------------------------------
## 1) Make Yes/No features into 1/0 features
king['low'] = king['low'].map(dict(Yes=1, No=0))
king['firstep'] = king['firstep'].map(dict(Yes=1, No=0))
king['smoker'] = king['smoker'].map(dict(Y=1, N=0))
king['drinker'] = king['drinker'].map(dict(Y=1, N=0))

## 2) Make Gender into 1:Female and 0:Male
king['gender'] = king['gender'].map(dict(F=1, M=0))

## 3) Make Race into dummy variables and drop race feature
race_variables = pd.get_dummies(king['race'])
king = pd.concat([king,race_variables],axis = 1)
king = king.drop(columns=['race'])

## 4) Make Educational Level into dummy 
##    variables as well and drop educlv
educlv_variables = pd.get_dummies(king['educlv'])
king = pd.concat([king,educlv_variables],axis = 1)
king = king.drop(columns=['educlv'])

In [60]:
king.head(n=10)

,bwt,low,firstep,gender,age,parity,smoker,drinker,wpre,wgain,educyr,gest,asian,black,hispanic,other,white,High,Low,Middle
id,,,,,,,,,,,,,,,,,,,,
1,3118,0,1,1,31,4,0,0,122,22,5,40,0,0,1,0,0,0,1,0
2,3466,0,1,0,23,0,0,0,160,50,12,39,0,0,0,0,1,0,0,1
3,3147,0,1,1,24,1,0,0,150,38,13,40,0,1,0,0,0,0,0,1
4,3969,0,1,0,26,2,0,0,175,15,12,39,0,0,1,0,0,0,0,1
5,3005,0,1,0,34,0,0,0,123,17,17,40,0,0,0,0,1,1,0,0
6,2920,0,1,0,15,0,0,0,180,12,9,36,0,1,0,0,0,0,1,0
7,3260,0,1,1,24,4,0,0,190,46,11,40,1,0,0,0,0,0,1,0
8,4451,0,1,0,30,1,0,0,160,28,15,42,0,0,0,0,1,0,0,1
9,3106,0,1,1,23,0,0,0,90,38,14,40,1,0,0,0,0,0,0,1
10,3345,0,1,1,37,2,0,0,186,47,12,40,0,0,0,0,1,0,0,1